body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ffffff;
    color: black;
    padding: 1rem 0;
    text-align: center;
}
    header .logo {
        position: absolute;
        top: 40px;
        left: 20px;
        border-radius: 8px;
        width: 200px; /* Set the width of the logo */
        height: auto; /* Ensure proper scaling */
    }

@media only screen and (max-width: 600px) {
    header .logo {
        width: 10%; /* Resize for smaller screens */
    }

   header{
        font-size: 6vw; /* Larger font for readability */
    }
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
    background: #8c92ac;
}
.container {
    display: flex;
    align-items: center;
}

.text {
    margin: 0 10px;
}


form {
    margin: 20px auto;
    width: 50%;
    text-align: left;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.image-gallery {
    margin: 20px auto;
    max-width: 300px;
    position: relative;
}

    .image-gallery img {
        width: 100%;
        border-radius: 8px;
    }

.slideshow-container {
    position: relative;
}

.slide {
    display: none;
}

.partners {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

    .partners h2 {
        color: #333;
    }

    .partners ul {
        list-style-type: none;
        padding: 0;
    }

    .partners li {
        padding: 5px 0;
        font-size: 18px;
    }


footer {
    background: #808080;
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

       @media (max-width: 768px) {
            main {
                font-size: 18px;
                padding: 15px;
            }
        }

        /* Media query for mobile devices */
        @media (max-width: 480px) {
            main {
                font-size: 16px;
                padding: 10px;
            }

            footer {
                font-size: 14px;
            }
        }

