body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #ffffff;
    color: black;
    padding: 1rem 0;
    text-align: center;
}
    header .logo {
        position: absolute;
        top: 40px;
        left: 20px;
        border-radius: 8px;
        width: 200px; /* Set the width of the logo */
        height: auto; /* Ensure proper scaling */
    }


nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
    background: #8c92ac;
}
container {
    display: flex;
    align-items: center;
}
.container image img{
            width: 150px; /* Adjust size as needed */
            height: auto;
            margin-right: 20px; /* Space between image and text */
        }

.text {
    margin: 0 10px;
   text-align: center
}

form {
    margin: 20px auto;
    width: 50%;
    text-align: left;
}

label, input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.image-gallery {
    margin: 20px auto;
    max-width: 300px;
    position: relative;
}

    .image-gallery img {
        width: 100%;
        border-radius: 8px;
    }

.slideshow-container {
    position: relative;
}

.slide {
    display: none;
}

.partners {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

.slider {
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            gap: 20px;
            width: 100%;
        }
        .slide {
            min-width: calc(33.33% - 20px); /* Shows 3 at a time */
            scroll-snap-align: start;
            background-color: lightgrey;
            padding: 20px;
            border: 1px solid black;
            text-align: center;
        }
.slide img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
footer {
    background: #808080;
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
